*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
}

a{
    text-decoration: none;
}

#parent{
    
}

.child{
    display: flex;
    width: 200px;
    height: 200px;
    gap: 30px;
    text-align: center;
}