*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
}
.movie,div
{
   background-color: black;
   color: darkgoldenrod;
   text-align: center;
   padding: 20px;

}